* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  background-color: #282828;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html a {
  color: orange;
  text-decoration: none;
}

html p {
  font-size: 18px;
  text-align: left;
  padding-bottom: 1.5em;
  max-width: 100%;
  line-height: 1.6em;
}

html p.centered {
  text-align: center;
}

html .highlight {
  color: orange;
}

html h1 {
  color: orange;
  font-family: "Merriweather", serif;
  font-size: 6vw;
}

html ul {
  list-style: none;
}

html ul li {
  display: inline-block;
}

html ul li:not(:last-child)::after {
  content: " | ";
}

html main section {
  scroll-snap-align: start;
}

html main section#home {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.8)), to(rgba(28, 28, 28, 0.8))), url("../images/background3.jpg");
  background-image: linear-gradient(rgba(28, 28, 28, 0.8), rgba(28, 28, 28, 0.8)), url("../images/background3.jpg");
}

html main section#home a {
  font-size: 1.1em;
  color: #181818;
  background-color: orange;
  padding: 0.5em 2em;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  border: none;
}

html main section#home a:hover {
  color: orange;
  background-color: #181818;
  padding-left: 6em;
  padding-right: 6em;
  border: 1px solid orange;
}

html main section#about a.easteregg {
  color: #c0c0c0;
}

html main section#portfolio {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.8)), to(rgba(28, 28, 28, 0.8))), url("../images/background5.jpg");
  background-image: linear-gradient(rgba(28, 28, 28, 0.8), rgba(28, 28, 28, 0.8)), url("../images/background5.jpg");
}

html main section#portfolio #resume {
  display: -ms-grid;
  display: grid;
}

html main section#portfolio .resumeColumns {
  background-color: #282828ee;
  margin: 2em;
  padding: 1em;
}

html main section#portfolio .resumeColumns h2 {
  padding: 0;
  padding-bottom: 1em;
}

html main section#portfolio .resumeColumns h3 {
  padding: 0 1em;
  padding-bottom: 0.5em;
  text-align: left;
  color: orange;
  font-family: "Merriweather", serif;
}

html main section#portfolio .resumeColumns p {
  padding: 1em;
  padding-top: 0;
}

html main section#portfolio .resumeColumns#jobsCol {
  -ms-grid-column: 1;
  grid-column: 1;
}

html main section#portfolio .resumeColumns#projectsCol {
  -ms-grid-column: 2;
  grid-column: 2;
}

html main section#contact {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 28, 0.8)), to(rgba(28, 28, 28, 0.8))), url("../images/background2.jpg");
  background-image: linear-gradient(rgba(28, 28, 28, 0.8), rgba(28, 28, 28, 0.8)), url("../images/background2.jpg");
}

html main section#contact label {
  color: orange;
  float: left;
  padding: 0.3em 0.5em;
  font-size: 1.3em;
}

html main section#contact label:not(:first-child) {
  margin-top: 0.7em;
}

html main section#contact input,
html main section#contact textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #282828ee;
  color: orange;
  border: 1px solid orange;
  resize: none;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

html main section#contact input:focus,
html main section#contact textarea:focus {
  background-color: #181818;
}

html main section#contact input {
  font-family: "Handlee", cursive;
  font-size: 1.2em;
  padding: 0.75em 1.5em;
}

html main section#contact input:focus {
  padding: 1.25em 1.5em;
}

html main section#contact input[type="submit"] {
  font-family: "Merriweather", serif;
  font-size: 1.1em;
  color: #181818;
  background-color: orange;
  padding: 0.75em;
  width: 50%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

html main section#contact input[type="submit"]:hover {
  color: orange;
  background-color: #181818;
  width: 55%;
}

html main section#contact textarea {
  font-family: "Handlee", cursive;
  font-size: 1.5em;
  padding: 1.25em 1em;
  height: 30vh;
  margin-bottom: 0.5em;
  -webkit-transition: 200ms;
  transition: 200ms;
}

html main section#contact textarea:focus {
  padding: 0.75em 1em;
}

html footer {
  color: #c0c0c0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  position: absolute;
  bottom: -10vh;
  background-color: #181818;
  height: 10vh;
  width: 100%;
  z-index: 200;
  scroll-snap-align: end;
}

html h1 {
  font-size: 8vw;
}

html #meBubble {
  position: fixed;
  background-image: url(../images/profile_image.jpg);
  background-size: cover;
  left: 50%;
  top: 10vh;
  width: 40vh;
  height: 40vh;
  margin-left: -20vh;
  border: 1px solid orange;
  border-radius: 50%;
  z-index: 100;
  -webkit-transition: 1s;
  transition: 1s;
}

html #meBubble.meBubbleTrigger {
  left: calc(50vw - 37.5px);
  margin-left: 0px;
  top: 5px;
  width: 75px;
  height: 75px;
}

html header {
  background-color: #383838;
  height: 65px;
  width: 100vw;
  position: fixed;
  border-bottom: 1px solid orange;
  z-index: 99;
  -webkit-box-shadow: 5px 0 5px;
          box-shadow: 5px 0 5px;
  margin-top: -70px;
  -webkit-transition: 1s;
  transition: 1s;
}

html header #menuButton {
  color: orange;
  font-size: 45px;
  padding: 10px 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

html header #buttonContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -100vw;
  margin-right: 100vw;
  margin-top: 10px;
  padding: 1px 25px 25px 25px;
  background-color: #00000088;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 30px;
}

html header #buttonContainer.active {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

html header #buttonContainer .navButton {
  display: block;
  text-align: center;
  padding: 1em 2em;
  margin: 1.5em;
  color: orange;
  background-color: #383838;
  text-decoration: none;
  border: 1px solid orange;
}

html header #buttonContainer .navButton:hover {
  background-color: orange;
  color: #181818;
}

html header #buttonContainer .navButton:first-of-type {
  margin-top: 50px;
}

html header.slideBarTrigger {
  margin-top: 0px;
}

html main {
  display: -ms-grid;
  display: grid;
}

html main #underheader {
  display: none;
}

html main section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 0 10px 0 10px;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  float: right;
  background-color: #282828;
  color: #c0c0c0;
  z-index: 2;
  scroll-margin-top: 65px;
}

html main #home #headline {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  z-index: 130;
}

html main #home #headline .myName {
  margin-top: 290px;
  padding-bottom: 20px;
  text-shadow: 2px 4px #000000;
  font-size: 8vw;
}

html main #home #headline .greeting {
  text-align: center;
  position: relative;
  top: 320px;
  right: 30vw;
  font-family: "Handlee", cursive;
  font-size: 5vw;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

html main #home #headline .highlight {
  color: orange;
}

html main #about {
  padding: 2em;
}

html main #about p {
  padding: 1em 0;
}

html main #portfolio .title {
  padding: 1em 0;
}

html main #portfolio #resume {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

html main #portfolio #resume #jobsCol {
  -ms-grid-column: 1;
  grid-column: 1;
}

html main #portfolio #resume #projectsCol {
  -ms-grid-column: 1;
  grid-column: 1;
}

html main #portfolio #resume .resumeColumns {
  margin: 0.5em;
}

html main #contact {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html main #contact form {
  width: 90vw;
}

html main #contact form label {
  display: none;
}

html main #contact form input,
html main #contact form textarea {
  margin: 10px;
}
/*# sourceMappingURL=mobile.css.map */