// Mobile
@import "globals";

html {
  h1 {
    font-size: 8vw;
  }

  #meBubble {
    position: fixed;
    background-image: url(../images/profile_image.jpg);
    background-size: cover;
    left: 50%;
    top: 10vh;
    width: 40vh;
    height: 40vh;
    margin-left: -20vh;
    border: 1px solid $highlight;
    border-radius: 50%;
    z-index: 100;
    transition: 1s;
    &.meBubbleTrigger {
      left: calc(50vw - 37.5px);
      margin-left: 0px;
      top: 5px;
      width: 75px;
      height: 75px;
      &.menuTrigger {
        left: 120vw;
      }
    }
  }

  header {
    background-color: $transparentLT;
    height: 65px;
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid $highlight;
    z-index: 99;
    box-shadow: 5px 0 5px;
    margin-top: -70px;
    transition: 1s;
    #menuButton {
      color: $highlight;
      font-size: 45px;
      padding: 10px 15px;
      float: left;
    }
    #navButtons {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 80vw;
      height: 100vh;
      margin-left: -80vw;
      left: 0;
      background-color: $transparent;
      box-shadow: 0 5px 5px;
      transition: 1s;
      a {
        float: left;
        border-bottom: 2px solid $lighterBG;
        padding: 1em 0.3em 1em 0.5em;
        font-size: 20px;
        &::after {
          content: ">";
          float: right;
          font-weight: 900;
        }
        &:hover {
          background-color: $highlight;
          color: $darkerBG;
        }
      }
      &.menuTrigger {
        left: 80vw;
      }
    }
    &.slideBarTrigger {
      margin-top: 0px;
      &.menuTrigger {
        margin-left: 80vw;
      }
    }
  }

  main {
    display: grid;
    section {
      box-sizing: border-box;
      display: grid;
      align-content: center;
      text-align: center;
      padding: 0 10px 0 10px;
      width: 100vw;
      height: 100%;
      min-height: 100vh;
      float: right;
      background-color: $background;
      color: $textColor;
      z-index: 2;
      scroll-margin-top: 65px;
    }
    #home {
      #headline {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        z-index: 130;
        .myName {
          margin-top: 290px;
          padding-bottom: 20px;
          text-shadow: 2px 4px #000000;
          font-size: 8vw;
        }
        .greeting {
          text-align: center;
          position: relative;
          top: 320px;
          right: 30vw;
          font-family: $hFont;
          font-size: 5vw;
          transform: rotate(-20deg);
        }
        .highlight {
          color: $highlight;
        }
      }
    }

    #about {
      p {
        padding: 1em 0;
      }
      padding: 2em;
    }
    #portfolio {
      .title {
        padding: 1em 0;
      }
      #resume {
        grid-template-columns: 1fr;
        #jobsCol {
          grid-column: 1;
        }
        #projectsCol {
          grid-column: 1;
        }

        .resumeColumns {
          margin: 0.5em;
        }
      }
    }
    #contact {
      display: grid;
      justify-content: center;
      form {
        width: 90vw;
        label {
          display: none;
        }
        input,
        textarea {
          margin: 10px;
        }
      }
    }
  }
}
